<div class="container">
  <h1>Elevator Control Panel</h1>
  <div class="floor-buttons">
    <button
      *ngFor="let fl of Floors"
      class="floor-button"
      [style.color]="fl.floor == activeFloor ? 'red' : 'black'"
      (click)="selectFloor(fl.floor)"
    >
      {{ fl.floor == 0 ? "GL" : fl.floor }}
    </button>
    <!-- Add more floor buttons as needed -->
  </div>
  <!-- <div class="elevator-door" [class.open]="doorOpen"></div> -->

  <div class="floor">
    <div *ngFor="let fl of Floors" class="floor-button" class="component">
      <h1>{{ Floors.length - fl.floor - 1 || "GF" }}</h1>
      <div class="direction">
        <button
          class="dir"
          (click)="openDoor('u', fl)"
          [hidden]="fl.floor === 0"
        >
          🔼
        </button>

        <button
          class="dir"
          (click)="openDoor('d', fl)"
          [hidden]="Floors.length - 1 === fl.floor"
        >
          🔽
        </button>
      </div>

      <div class="AddPerson">
        <button class="add" (click)="showFormFn(fl)">+</button>
      </div>

      <div class="powerStatus">
        <button
          class="pow"
          [style.background-color]="power ? 'green' : 'red'"
          (click)="changePower()"
        >
          P
        </button>
        <button
          class="pow"
          [style.background-color]="generator ? 'green' : 'red'"
          (click)="changePower()"
        >
          G
        </button>
      </div>

      <div class="FormComp" [hidden]="fl.showAddPerson">
        <input
          class="personId"
          placeholder="Enter Person Id"
          [value]="addPersonForm.get('id')?.value"
        />
        <input
          type="number"
          class="DestFloor"
          placeholder="Enter Destination Floor"
          [value]="addPersonForm.get('toFloor')?.value"
        />
        <button (click)="SubmitPerson(fl)">Submit</button>
      </div>

      <!-- <div class="AddPersonForm">
        <input type="number" placeholder="Enter person ID" />
        <input type="text" placeholder="Enter to Floor" />
        <button (click)="AddPerson()">Submit</button>
      </div> -->
    </div>

    <div class="elevator" [class.open]="doorOpen">
      <div class="elevator-door">
        <div class="buttonGroup">
          <button
            *ngFor="let fl of Floors"
            class="floorBtn"
            (click)="selectFloor(fl.floor)"
          >
            {{ fl.floor == 0 ? "GL" : fl.floor }}
          </button>
          <!-- <bgsound src = "https://music.apple.com/us/album/elevator-music-lounge-chill-out-background-music/468166499"/> -->
        </div>
        <p class="Weight">Max Weight : 500kg</p>
        <p class="Weight">Current Weight : {{ SumWeight }}kg</p>
        <div class="personsCont">
          <div class="per" *ngFor="let person of Persons">
            <p
              class="per"
              (mouseenter)="showWeight(person)"
              (mouseleave)="showWeight(person)"
            >
              {{ person.per }}
            </p>
            <p class="per weight" [hidden]="person.showW">
              {{ person.weight }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <audio class="liftSong" controls>
          <source src="../../../music/for-elevator-jazz-music-124005.ogg" type="audio/ogg">
          <source src="../../../music/for-elevator-jazz-music-124005.mp3" type="audio/mpeg">
        </audio> -->

    <!-- <img *ngIf="doorOpen" src="https://media2.giphy.com/media/hHsyFWOk9fOTmKyBno/giphy.gif?cid=ecf05e478kwfypu17ujgcxv0f0etgo21g38uo8gcy93ixw0z&ep=v1_gifs_related&rid=giphy.gif&ct=g" alt="Opening Lift" /> -->
  </div>
</div>
