:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example-form{
    display: grid;
    place-content: center;
    grid-template: repeat(auto-fit,minmax(200px,0));
    border: 10px solid rgba(208, 223, 229, 0.8);
    border-radius: 16px;
    padding: 20px;
  }

  .example-full-width {
    width: 100%;
    height: 80px;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  
 

